In [ ]:
#importing libraries
import pandas as pd 
from pandas import read_html
import html5lib
from bs4 import BeautifulSoup
import re
import mysql.connector
import pyodbc
from mysql.connector import Error
from itertools import islice

In [ ]:
#Table created 
db = mysql.connector.connect(
    host="localhost",
    user="jov",
    passwd="123456789",
    database="ana"
)
mycursor = db.cursor()

#Deleting  and creating a new table
sql1 = "DROP TABLE job_detail2"
mycursor.execute(sql1)
mycursor.execute("CREATE TABLE job_detail2(id INT AUTO_INCREMENT PRIMARY KEY,SrNo INT, Name CHAR(100), Date VARCHAR(20), NoofDays INT(10),Nameofwork VARCHAR(10000), MSRNO INT(15),Totalamountofwork INT(10),PaymentDone INT(5))")
#mycursor.close()

In [ ]:
def cleanhtml(raw_html):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', raw_html)
    return cleantext
cleanr = re.compile('<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});')

def listToString(s): 
    # initialize an empty string
    str1 = "" 
    # traverse in the string  
    for ele in s: 
        str1 += ele  
    # return string  
    return str1 
def ConvertToList(string):
    li = list(string.split(" "))
    return li

In [ ]:
f=open(r'C:\Users\JOVAN RODRIGUES\Desktop\My Certificates\Job Card.html')
table_id='GridView3'
content = f.read()          #parse HTML
soup = BeautifulSoup(content,'html.parser')

contentinTable  = soup.find('table',attrs={'id':table_id}) # Use dictionary to pass key : value pair
rows1  = contentinTable.find_all('td')
#store data from table with id 'gridview3' here in list format
abd1=rows1
paragraphs1 = []
for x in abd1:
    paragraphs1.append(str(x))

In [ ]:
#converting the list to string format using the above defined function and storing in finale 
s = paragraphs1
finale1=listToString(s)
#cleaning data and removing extra tags  using the cleanhtml function we created and storing in resa
clean1=cleanhtml(finale1)
#here the strip  function clears the starting and ending spaces
clean2=clean1.strip()
rita1=clean2
#here the \n and \n are removed 
myeString1 = re.sub(r"[\t\n]*", "",rita1)
wella1=rita1
result1 = re.sub('\s+\s+','     ', wella1)
heresult1=result1.split("     ")
for i in range(len(heresult1)):
    print(heresult1[i])

In [ ]:
#here the Sub total part is removed from list and stored in stora
n=0
lenta =8
stora=[]
while( n<len(heresult1)):
        if 'Sub Total' in heresult1[n]:
           #line = heresult1[n:n+4] and here length is 4
            n=n+4      
        else :
            #lenta =8 here
            line = heresult1[n:n+lenta]
            n=n+8
            stora =stora + line
            print(line)

In [ ]:
#did not use in code but can get sublist of specific length 
print(type(stora))
b=len(stora)
print(len(stora))

print(stora[:8:])

In [ ]:
Lst = stora
sr_no= Lst[0:b:8]
applicant_name=Lst[1:b:8]
date_month=Lst[2:b:8]
no_of_days =Lst[3:b:8]
work_name=Lst[4:b:8]
msr_no=Lst[5:b:8]
total_amount_of_work_done=Lst[6:b:8]
payment_due=Lst[7:b:8]

# Display list
print(applicant_name)

In [ ]:
#used to make a list of how many 44 lenths of each size 8 which is used in next lines 
b=len(stora)
c=int(b/8)
mixed =  []
mixed.extend([8]*c)
print(mixed)

In [ ]:
#Here we crete a sub set of the main list in size of 8 
# Input list initialization
Input = stora
# list of length in which we have to split
#length_to_split = [8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8]
length_to_split = mixed
# Using islice
Inputt = iter(Input)
output = [list(islice(Inputt, elem))
          for elem in length_to_split] 
print(output)

In [ ]:
records_to_insert=output
mySql_insert_query= "INSERT INTO job_detail2 (SrNo , Name , Date, NoofDays ,Nameofwork , MSRNO ,Totalamountofwork ,PaymentDone ) VALUES (%s, %s, %s, %s,%s, %s, %s, %s)"

In [ ]:
db = mysql.connector.connect(
    host="localhost",
    user="jov",
    passwd="123456789",
    database="ana"
)
mycursor = db.cursor()

cursor = db.cursor()
cursor.executemany(mySql_insert_query, records_to_insert)
db.commit()
print(cursor.rowcount, "Record inserted successfully into Laptop table")